# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
finflow-env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Local configuration
.env
*.local.yaml
*.local.yml

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# GCP credentials
*credentials*.json

# Logs
logs/
*.log
